{% extends "base.html" %}
{% block title %}<title>English to Loglan Dictionary</title>{% endblock %}
{% block style %}
<style>
	body {
		font-family: 'Merriweather', serif;
		font-size: 14px;
		margin-left: 20px;
	}

	.lt > span {
		font-size: 24px;
		font-weight: bold;
	}

	w {
		margin-top: 20px;
		display: block;
	}

	ds {
		margin-left: 20px;
		display: block;
	}

	wl {
		font-weight: bold;
	}

	ld {
		margin-top: 5px;
		text-align: justify;
		max-width: 60%;
		min-width: 400px;
		display: block;
	}

	o {
		color: #007F00;
		font-style: italic;
	}
	k {
		color: #0000FF;
		font-style: italic;
	}
	l {
		color: #C70039;
		font-weight: bold;
	}
	wn {
		font-weight: bold;
	}
	main {
		position: absolute;
		top: 60px;
		bottom: 20px;
		overflow-y: scroll;
	}
	::-webkit-scrollbar {
		width: 0px;  /* Remove scrollbar space */
		background: transparent;  /* Optional: just make scrollbar invisible */
	}
	nav.fixed-top {
		background-color: black;
		height: 50px;
		color: white;
	}
	nav.fixed-bottom {
		height: 20px;
		text-align: right;
	}
</style>
{% endblock %}
{% block menu %}
<div class="collapse navbar-collapse" id="navbarSupportedContent">
	<ul class="navbar-nav mr-auto">
		{% for letter in dictionary.keys() %}
		<li class="nav-item">
			<a class="nav-link" href="#{{ letter }}">{{ letter }}</a>
		</li>
		{% endfor %}
	</ul>
</div>
{% endblock %}
{% block words %}
{% for letter, words in dictionary.items() %}
<hr width="400px" align="left">
<a name="{{ letter }}"></a>
<div class="lt"><span class="lt">{{ letter }}</span>
{%- for word, definitions in words.items() %}
<w wid="{{ word.lower() }}"><wl>{{ word }},</wl>
	<ds>
	{%- for definition in definitions %}
		{{definition}}
	{%- endfor %}
	</ds>
</w>
{%- endfor %}
</div>
{% endfor %}
{% endblock %}

{% block tech %}{% for title, value in technical.items() %}{{ title }} - {{ value }}; {% endfor %}{% endblock %}
